<!-- 页面内容开始 -->
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="btn-group" id="toolbar">              
                    <button class="btn btn-info table-btn-check-enable" disabled onclick="ImportFun()">
                        分配
                    </button>
                    <button class="btn btn-success" onclick="AverageAssignFun()">
                        平均分配
                    </button>
                </div>
                <table id="dataGrid"></table>
            </div>
        </div>
    </div>
</div>
</div>