<form id="thisForm">
    <input type="hidden" name="Id" id="Id" value="{{.m.Id}}">
    <input type="hidden" name="BackendUserId" id="Id" value="{{.m.BackendUserId}}">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label></label>
                <input type="text" name="Name" class="form-control"  value="{{.m.Name}}">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label></label>
                <textarea class="form-control" cols="30" rows="5" name="Description">{{.m.Description}}</textarea>
            </div>
        </div>

    </div>
</form>
</div>
