<!-- 验证插件 -->
<script src="/static/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/static/plugins/jquery-validation/localization/messages_zh.min.js"></script>
<!-- 针对当前主题进行简单封装，精简代码 -->
<script src="/static/sdtheme/scripts/sdvalidate.js"></script>
<script>
	var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
    $(function () { 
        pageInit(); 
    })
    function pageInit(){
        // 座席号码取自freeswitch的配置文件conf/directory/default下的文件名
        agentSelectInit('{{.m.ExtNo}}');
        // 用户下拉框初始化
        backenduserSelectInit('{{.m.BackendUserId}}');
        backenduserSelectEvent()
        // 验证
        validateInfo(); 
    }
    // 座席号码下拉框初始化
    function agentSelectInit(selected) {
        var url = '{{urlfor "AgentController.FsRegisterUserList"}}';
        var $select =$("#ExtNoFromFs");
        $select.html('');

        $.sdpost(url,{},function(re){
            if(re.code === 0){               
                var html=[]
                $(re.obj).each(function(i,e){
                    html.push('<option value="' + e.Name + '">' + e.Name + '</option>')
                });
                $select.html(html.join(''));
                $select.selectpicker();
                $select.selectpicker('val',selected);
            }
            else{
                layer.alert("获取数据失败",{icon:2,title:'失败'})
            }
        });
    }
    // 用户下拉框初始化
    function backenduserSelectInit(selected){
        var url = '{{urlfor "BackendUserController.DataList"}}';
        var $select = $("#BackendUser");
        $select.html('');

        $.sdpost(url,{},function(re){
            if(re.code === 0){               
                var html=[]
                $(re.obj).each(function(i,e){
                    html.push('<option value="' + e.Id + '">' + e.RealName + '</option>')
                });
                $select.html(html.join(''));
                $select.selectpicker();
                $select.selectpicker('val',selected);
                gatewaySelectInit('{{.m.GatewayId}}', selected)
            } else {
                layer.alert("获取数据失败",{icon:2,title:'失败'})
            }
        });
    }
    // 用户下拉框事件初始化
    function backenduserSelectEvent() {
        $('#BackendUser').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
            console.log(e.currentTarget.value, 10)
            var $gwSelect = $("#Gateway");
            $gwSelect.html('')
            // $gwSelect.selectpicker('refresh')
            // gatewaySelectInit('{{.m.GatewayId}}', e.currentTarget.value)
            var url = '{{urlfor "GatewayController.DataListByUserCompany"}}';
            var data = {uid: e.currentTarget.value};
            $.sdpost(url, data, function(re){
                if (re.code === 0) {               
                    var html=[]
                    $(re.obj).each(function(i,e){
                        html.push('<option value="' + e.Id + '">' + e.GatewayName + '</option>')
                    });
                    $gwSelect.html(html.join(''));
                    $gwSelect.selectpicker();
                    $gwSelect.selectpicker('refresh');
                } else {
                    layer.alert("获取数据失败",{icon:2,title:'失败'})
                }
            });
        });
    }
    // 网关下拉框初始化
    function gatewaySelectInit(selected, uid) {
        var url = '{{urlfor "GatewayController.DataListByUserCompany"}}';
        var $select = $("#Gateway");
        $select.html('');
        var data = {uid: uid};
        $.sdpost(url, data, function(re){
            if (re.code === 0) {               
                var html=[]
                $(re.obj).each(function(i,e){
                    html.push('<option value="' + e.Id + '">' + e.GatewayName + '</option>')
                });
                $select.html(html.join(''));
                $select.selectpicker();
                $select.selectpicker('val',selected);
            } else {
                layer.alert("获取数据失败",{icon:2,title:'失败'})
            }
        });
    }
    //表单验证及AJAX提交
    function validateInfo() {
        var $thisForm = $('#thisForm');
        $thisForm.sdvalidate({
            rules: {
                ExtNo: {
                    required: true
                },
                ExtPwd: {
                    required: true
                },
                GatewayPhoneNumber: {
                    required: true
                },
                // OriginationCallerIdNumber: {
                //     required: true
                // },
                BackendUserId: {
                    required: true
                }
            },
            messages: {},
            submitHandler: function (form) {
				var url ='{{ urlfor "AgentController.Edit"}}'
                var GatewayPhoneNumberVal = $.trim($thisForm.find('input[name="GatewayPhoneNumber"]').val());
                $thisForm.find('input[name="OriginationCallerIdNumber"]').val(GatewayPhoneNumberVal);
				var data = $thisForm.serialize();				
				$.sdpost(url,data,function(re){
					if(re.code === 0){
						parent.layer.msg(re.msg)
						parent.refresh(re.obj)
						parent.layer.close(index)
					}else{
						parent.layer.alert(re.msg,{icon:2,title:'失败'})
					}
				});
               return false;
            }
        });
    }

    function FormSubmit() {
        $("#thisForm").submit();		
    }
</script>