 <link rel="stylesheet" href="/static/plugins/bootstrap-table/bootstrap-table.min.css">
 <!-- x-editable插件 -->
<link href="/static/plugins/x-editable/css/bootstrap-editable.css" rel="stylesheet" />
<!-- bootstrap colorpicker 插件 -->
<link href="/static/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />

<style type="text/css">
    .badge {
        background-color: #d1dade;
        color: #5e5e5e;
    }
    .badge-primary {
        background-color: #1ab394;
        color: #FFFFFF;
    }
</style>